<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SuRam Alpha 0.1</title>
    {% load static %}
    <link rel="stylesheet" href=""> /* ../static/css/style.css */
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav class="navigator">
        <a href="#" class="logo">
            <div class="nav-links">🚀</div>
            <div class="nav-links">SuRam</div>
        </a>
    </nav>

    <div class="menu">
        <ul class="nav-list">
            <li><a href="#" class="active-link"><i class="home">Главная</i></a></li>
            <li><a href="#products" class="nav-linkk"><i class="Products-nav">Товары</i></a></li>
            <li><a href="#sales" class="nav-link"><i class="sales-nav">Продажи</i></a></li>
            <li><a href="#reports" class="nav-link"><i class="reports-nav">Отчеты</i></a></li>
            <li><button class="btn_project" id="addBtnProject"><i class="add-product"></i>Добавить товар</button></li>
        </ul>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>SuRam 8</p>
    </footer>
</body>
</html>
